<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.likainan.cmfz.dao.MenuDao">
    <resultMap id="ManagerResultMap" type="Manager">
        <result property="mgrId" column="MGR_ID"/>

    </resultMap>
    <select id="findManager" resultMap="ManagerResultMap">
        SELECT * FROM t_menu
    </select>
</mapper>
